body {
    background-image: url("back.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    margin: 0; 
    padding: 0; 
    height: 100vh; 
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .centered-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    padding-top: 20px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .input-container {
    position: relative;
    width: 300px;
  }
  
  .input-container i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #460cf4;
    pointer-events: none;
  }
  i{
    padding-left: 5px;
  }
  input {
    height: 35px;
    width: 80%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px; 
    padding-left: 40px;
    color: rgb(255, 255, 255);
    outline: none;
    caret-color: rgb(255, 255, 255);
    font-size: 1.1em;
  }
  
  input:focus {
    backdrop-filter: blur(15);
    border-color: #460cf4;
    transition: border-color 0.5s ease-out; 
  }
  
  input:focus::placeholder {
    color: white;
  }
  
  input::placeholder {
    color: rgb(0, 0, 0);
  }
  
  input:hover::placeholder {
    transition: 0.5s;
    color: rgb(255, 255, 255);
  }
  
  button {
    font-size: 1.3em;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  button:hover {
    transition: 1s ease-in-out;
    background-color: rgba(0, 0, 255, 0.3);
    border: 1px solid #460cf4;
  }
  
  span {
    color: rgb(0, 0, 255);
  }
  
  h1 {
    font-size: 3em;
  }
  
  p {
    color: white;
  }
  
  @media (max-width: 600px) {
    .input-container {
      width: 90%; 
    }
  
    input {
      font-size: 1em;
    }
  
    button {
      font-size: 1em;
    }
  }
  